<!-- CONTAINER -->
<div class="container-fluid" id="container" ng-controller="MainCtrl">
<!-- HEADER -->
    <header class="header">
    <!--     <img src="images/avatar2.jpg" alt="avatar" id="avatar"> -->
        <div class="avatar"></div>
        <h4 class="alek">Alek Grinberg</h4>
        <p>software developer and marketer</p>
        <!-- NAV MENU -->
        <ul class="vs-nav">
            <!-- InstanceBeginEditable name="Menu-Content" -->
           
            <li><a href="" ng-click="scrollTo('portfolio')">portfolio</a></li>
            <li><a href=""  ng-click="scrollTo('timeline')">timeline</a></li>
            <li><a href=""  ng-click="scrollTo('resume')">resume</a></li>
            <li><a href=""  ng-click="scrollTo('contact')">contact</a></li>
            <!-- InstanceEndEditable -->
        </ul>
        <!-- NAV MENU -->
    </header>
       <!-- HEADER -->
    <!-- SECTION BREAK -->
    <div class="strike">
        <span class="section-title">A Little About Me</span>
    </div>
    <!-- SECTION BREAK -->
<!-- row -->
    <div class="row">
        <!-- intro -->
        <div class="intro">
            <h2>
                Hello. I am
                <span class="rotate-words">
                <span>a software developer.</span>
                <span>a marketer.</span>
                <span>a snowboarder.</span>
                <span>a problem solver.</span>
                <span>a craft beer lover.</span>
                </span>
                <br> 
                A New Yorker since metro tokens, hot dog stands and Patrick Ewing. 
                <br> 
                I am love to <strong>build</strong> tools that people use and love.
            </h2>
        </div>
        <!-- intro -->
    </div>
    <!-- SECTION BREAK -->

    <section class="portfolio" id="portfolio">

        <div class="strike">
            <span class="section-title">Work and Play</span>
        </div>
    <!-- SECTION BREAK -->
        <div class="row">
            <div class="col-md-4">
                <div class="port-item">
                    <div class="port-img">
                        <img src="/images/290_crosshair.jpg" alt="">
                    </div>
                    <div class="port-desc">
                        <h3>JobSniper</h3>
                        <p>Chrome Extension App with a Ruby on Rails Backend. You tell it the title or keyword and it tells you when a job is on the company careers page.</p>
                        <div class="port-button">
                            <h5><a class="button" ng-href="https://github.com/agrinb/jobs_extension">View Now</a></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="port-item">
                    <div class="port-img">
                        <img src="/images/290_ruby.png" alt="">
                    </div>
                    <div class="port-desc">
                        <h3>Ruby</h3>
                        <p>Collections of various Algorithms solved in Ruby, including merge sort, quicksort, ProjectEuler and other coding katas that I loved working on.</p>
                        <div class="port-button">
                            <h5><a class="button" ng-href="https://github.com/agrinb/comet/tree/master/sorting_algos">View Now</a></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="port-item">
                    <div class="port-img">
                        <img src="/images/290_IMG_5777.jpg" alt="">
                    </div>
                    <div class="port-desc">
                        <h3>Neighborhoods</h3>
                        <p>A simple Boston neighborhood review web app developed in Ruby on Rails with Full Text Search.</p>
                        <div class="port-button">
                            <h5><a class="button" ng-href="https://github.com/agrinb/neighborhoods">View Now</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="port-item">
                    <div class="port-img">
                        <img src="/images/290_python.png" alt="">
                    </div>
                    <div class="port-desc">
                        <h3>Python</h3>
                        <p>Some recent coding challenges in Python. Including a Hashmap with amortized constant time lookups.</p>
                         <div class="port-button">
                            <h5><a class="button" ng-href="https://github.com/agrinb/misc/tree/python_hash/python_hash">View Now</a></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="port-item">
                    <div class="port-img">
                        <img src="/images/290_house_on.jpg" alt="Reeally App">
                    </div>
                    <div class="port-desc">
                        <h3>Reeally</h3>
                        <p>Breakabble toy from Launch Academy. What home sales should be in the Zillow age. On-demand real estate agents. </p>
                        <div class="port-button">
                            <h5><a class="button" ng-href="https://github.com/agrinb/reeally">View Now</a></h5>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-md-4">
                <div class="port-item">
                    <div class="port-img">
                        <img src="/images/minions.jpg" alt="Work In Progress">
                    </div>
                    <div class="port-desc">
                        <h3>Work in Process</h3>
                        <p>I'm working on something really special!</p>
                        <div class="port-button">
                            <h5><a class="button" ng-href="https://github.com/agrinb/">View Now</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

            <!-- PAGE : RESUME -->
    <section id="timeline">

        <!-- SECTION BREAK -->
    <div class="strike">
        <span class="section-title">Timeline</span>
    </div>
    <!-- SECTION BREAK -->

        <div class="content">
            <!-- CONTENT -->
            <!-- row -->
            <div class="row">
                <!-- col 6/12 -->
                <!-- <div class="col-md-6"> -->
                              
                    <!-- timeline -->
                    <div class="timeline">  
                        
                        <div class="event current">
                            <span class="date" id="2014">2014</span>
                            <h4>Software Developer</h4>
                            <h5>Stylit</h5>
                            <p>Created a notification system that triggered various marketing messages in response to user engagement. Increased test coverage system wide from 10% to 65%.</p>
                        </div>
                                                
                        <div class="event">
                            <span class="date" id="2008">2008</span>
                            <h4>Co-Founder and CMO</h4>
                            <h5>SimpleTexing.com and Rise Above Marketing</h5>
                            <p>Spearheaded and managed various product launches, marketing campaigns. Grew company to $3 Million through marketing and sales efforts.</p>
                        </div>
                        
                        <div class="event">
                            <span class="date" id="2005">2005</span>
                            <h4>Business Development Manager</h4>
                            <h5>AffiliateNetwork.com</h5>
                            <p>Managed publisher sales team and various media buying and partnership initiatives. Company revenues doubled during management.</p>
                        </div>

                        <div class="event">
                            <span class="date" id="2002">2002</span>
                            <h4>Marketing and Sales</h4>
                            <h5>Oxeo Hosting</h5>
                            <p>Managed marketing sales and helped grow a new company to a $1 million dollar in sales in 3 years.</p>
                        </div>
                        
                   
                   </div>
                   <!-- timeline -->

                   <!-- timeline -->
                   <div class="timeline">
                    
                        <div class="ed-wrap">
                            </i><span class="section-title" id="ed-title">Education</span>
                        </div>
                        
                        <div class="event">
                            <span class="date" id="Launch A">2014</span>
                            <h4>Software Developer Apprentcice</h4>
                            <h5>Launch Academy</h5>
                            <p>Attended an intensive 10 Week Full Stack Development Bootcamp.</p>
                        </div>

                        
                        <div class="event">
                            <span class="date" id="Launch A">2014</span>
                            <h4>Various Technology Electives</h4>
                            <h5>NYU SCPS</h5>
                        </div>
                        
                        
                        <div class="event">
                            <span class="date" id="2010">2004</span>
                            <h4>Bachelors in Business Administration</h4>
                            <h5>Baruch College CUNY</h5>
                            <p>Concentration in Marketing and Business Administration</p>
                        </div>
                   
                   </div>
                   <!-- timeline -->

                </div> 
                  <!-- col 6/12 -->

           <!--  </div>  -->                      
            <!-- row -->                   

        </div>
        <!-- CONTENT -->
        
    </section id="resume">
    <!-- PAGE : RESUME -->
    <div class="strike">
        <span class="section-title" id="resume">Downloads</span>
    </div>
    <!-- SECTION BREAK -->
    <section class="downloads">
        <i class="glyphicon glyphicon-save-file"></i><span class="sec-title"> Resume:</span>
        <p>You can download my CV in pdf format if you like. I'm currently freelancing and looking for interesting opportunities.</p>

<!-- DOWNLOAD BUTTON -->
        <div class="download-button">
            <a href="/images/Alek_Grinberg.pdf" class="button primary" id="cv" target="_self" download="Alek_Grinberg.pdf">DOWNLOAD CV</a>
        </div>
<!-- DOWNLOAD BUTTON -->
         <i class="glyphicon glyphicon-folder-open"></i><span class="sec-title">GitHub:</span>
        
        <p>You can view my GitHub profile, for an evolution of my development career.</p>
               
<!-- DOWNLOAD BUTTON -->
        <div class="download-button">
            <a href="https://github.com/agrinb" class="button primary" id="github">MY GITHUB</a>
        </div>
<!-- DOWNLOAD BUTTON -->

        <i class="glyphicon glyphicon-user"></i><span class="sec-title"> LinkedIn:</span>
        
        <p>Check out my LinkedIn profile. Add me as a friend. Let's have a beer.</p>
<!-- DOWNLOAD BUTTON -->
        <div class="download-button">
            <a href="http://linkedin.com/in/agrinberg" class="button primary" id="linkedin">MY LINKEDIN PROFILE</a>
        </div>
<!-- DOWNLOAD BUTTON -->
    </section>

    <!-- .contact-form -->

    <section class="contact" id="contact">  

     <!-- SECTION BREAK -->
    <div class="strike">
        <span class="section-title">Drop Me A Line</span>
    </div>
    <!-- SECTION BREAK -->
    
        <div class="contact-form" ng-controller="EmailCtrl">
            <form id="contact-form" method="post">
                
                <!-- enter mail subject here -->
                <input type="hidden" name="subject" id="subject" value="You have a new message.">
                
                <p>
                  <label for="name">NAME</label>
                  <input type="text" name="name" id="name" class="required" required>
                </p>
                
                <p>
                  <label for="email">EMAIL</label>
                  <input type="text" name="email" id="email" class="required email" required>
                </p>
                
                
                <p>
                  <label for="message">MESSAGE</label>
                  <textarea name="message" id="message" class="required" required></textarea>
                </p>
               

                <div class="download-button">
                  <input type="submit" class="submit button primary" value="SEND">
                </div>           
            </form>       
        </div>
    </section>
    <!-- .contact-form -->
    
</div>