<!-- CONTAINER -->
<div class="container-fluid" id="container">
<!-- HEADER -->
    <header class="header">
    <!--     <img src="images/avatar2.jpg" alt="avatar" id="avatar"> -->
        <div class="avatar"></div>
        <h4 class="alek">Alek Grinberg</h4>
        <p>software developer and marketer</p>
        <!-- NAV MENU -->
        <ul class="vs-nav">
            <!-- InstanceBeginEditable name="Menu-Content" -->
            <li><a href="#/about">about me</a></li>
            <li><a href="#/portfolio">portfolio</a></li>
            <li><a href="#/resume">resume</a></li>
            <li><a href="#/contact">contact</a></li>
            <!-- InstanceEndEditable -->
        </ul>
        <!-- NAV MENU -->
    </header>
       <!-- HEADER -->
    <!-- SECTION BREAK -->
    <div class="strike">
        <span class="section-title">A Little About Me</span>
    </div>
    <!-- SECTION BREAK -->
<!-- row -->
    <div class="row">
        <!-- intro -->
        <div class="intro">
            <h2>
                Hello. I am
                <span class="rotate-words">
                <span>an illustrator.</span>
                <span>a writer.</span>
                <span>a freelancer.</span>
                <span>an inventor.</span>
                <span>a wordpress fan.</span>
                <span>a coffee lover.</span>
                </span>
                <br> 
                I live in a small town somewhere in the world. 
                <br> 
                I am passionated about <strong>minimalistic</strong> and flat design.
            </h2>
        </div>
        <!-- intro -->
    </div>
    <!-- SECTION BREAK -->
    <div class="strike">
        <span class="section-title">Work and Play</span>
    </div>
    <!-- SECTION BREAK -->
    <section class="portfolio">
        <div class="row">
            <div class="col-md-4">
                <div class="port-item">
                    <div class="port-img">
                        <img src="http://themes.pixelwars.org/cvcard/images/portfolio/01.png" alt="">
                    </div>
                    <div class="port-desc">
                        <h3>Project 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, nisi odit animi harum. Facere saepe possimus, deserunt nisi odit ad laudantium. Tenetur quaerat qui, mollitia aspernatur quidem saepe quo maxime.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="port-item">
                    <div class="port-img">
                        <img src="http://themes.pixelwars.org/cvcard/images/portfolio/02.png" alt="">
                    </div>
                    <div class="port-desc">
                        <h3>Project 2</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, nisi odit animi harum. Facere saepe possimus, deserunt nisi odit ad laudantium. Tenetur quaerat qui, mollitia aspernatur quidem saepe quo maxime.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="port-item">
                    <div class="port-img">
                        <img src="http://themes.pixelwars.org/cvcard/images/portfolio/02.png" alt="">
                    </div>
                    <div class="port-desc">
                        <h3>Project 2</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, nisi odit animi harum. Facere saepe possimus, deserunt nisi odit ad laudantium. Tenetur quaerat qui, mollitia aspernatur quidem saepe quo maxime.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SECTION BREAK -->
    <div class="strike">
        <span class="section-title">Timeline</span>
    </div>
    <!-- SECTION BREAK -->

            <!-- PAGE : RESUME -->
    <section id="resume" class="resume">
        <div class="content">
            <!-- CONTENT -->
            <!-- row -->
            <div class="row">
                <!-- col 6/12 -->
                <!-- <div class="col-md-6"> -->
                              
                    <!-- timeline -->
                    <div class="timeline">  
                        
                        <div class="event current">
                            <span class="date">2012</span>
                            <h4>Front End Web Developer</h4>
                            <h5>Pixelwars Inc.</h5>
                            <p>I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.</p>
                        </div>
                        
                        
                        <div class="event">
                            <span class="date">2010</span>
                            <h4>Web Developer</h4>
                            <h5>Google Inc.</h5>
                            <p>I worked as a Web Developer at Google for 3 years. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.</p>
                        </div>
                        
                        <div class="event">
                            <span class="date">2006</span>
                            <h4>Exclusive Author</h4>
                            <h5>Envato Inc.</h5>
                            <p>I am an Elite Author at Envato. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.</p>
                        </div>
                   
                   </div>
                   <!-- timeline -->

                   <!-- timeline -->
                   <div class="timeline">
                    
                       <div class="ed-wrap">
                           </i><span class="section-title" id="ed-title">Education</span>
                       </div>
                        
                        <div class="event">
                            <span class="date">2002</span>
                            <h4>Atom Science</h4>
                            <h5>Stanford University</h5>
                            <p>I studied atomic stuff at Stanford University. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.</p>
                        </div>
                        
                        
                        <div class="event">
                            <span class="date">2010</span>
                            <h4>Software Engineering</h4>
                            <h5>Harvard University</h5>
                            <p>I got my Master Degree at Harvard University. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.</p>
                        </div>
                        
                        <div class="event">
                            <span class="date">2006</span>
                            <h4>Computer Science</h4>
                            <h5>MIT</h5>
                            <p>I studied Computer Science at MIT. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.</p>
                        </div>
                   
                   </div>
                   <!-- timeline -->

                </div> 
                  <!-- col 6/12 -->

           <!--  </div>  -->                      
            <!-- row -->                   

        </div>
        <!-- CONTENT -->
        
    </section>
    <!-- PAGE : RESUME -->
    <div class="strike">
        <span class="section-title">Downloads</span>
    </div>
    <!-- SECTION BREAK -->
    <section class="downloads">
        <i class="glyphicon glyphicon-save-file"></i><span class="sec-title"> Resume:</span>
        <p>You can download my CV in pdf format if you like. I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.</p>

<!-- DOWNLOAD BUTTON -->
        <div class="download-button">
            <a href="#" class="button primary">DOWNLOAD CV</a>
        </div>
<!-- DOWNLOAD BUTTON -->
                <i class="glyphicon glyphicon-folder-open"></i><span class="sec-title">GitHub:</span>
        
        <p>You can view my LinkedIn profile. I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.</p>
        
<!-- DOWNLOAD BUTTON -->
        <div class="download-button">
            <a href="#" class="button primary">MY GITHUB</a>
        </div>
<!-- DOWNLOAD BUTTON -->


        <i class="glyphicon glyphicon-user"></i><span class="sec-title"> LinkedIn:</span>
        
        <p>You can view my LinkedIn profile. I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.</p>
        
<!-- DOWNLOAD BUTTON -->
        <div class="download-button">
            <a href="#" class="button primary">MY LINKEDIN PROFILE</a>
        </div>
<!-- DOWNLOAD BUTTON -->
    </section>
    
     <!-- SECTION BREAK -->
    <div class="strike">
        <span class="section-title">Drop Me A Line</span>
    </div>
    <!-- SECTION BREAK -->
  
    <!-- .contact-form -->

    <section class="contact">    
        <div class="contact-form">
            <form id="contact-form" action="send-mail.php" method="post">
                
                <!-- enter mail subject here -->
                <input type="hidden" name="subject" id="subject" value="You have a new message from cvCard!">
                
                <p>
                  <label for="name">NAME</label>
                  <input type="text" name="name" id="name" class="required">
                </p>
                
                <p>
                  <label for="email">EMAIL</label>
                  <input type="text" name="email" id="email" class="required email">
                </p>
                
                
                <p>
                  <label for="message">MESSAGE</label>
                  <textarea name="message" id="message" class="required"></textarea>
                </p>
               
                
                <div class="download-button">
                  <input type="submit" class="submit button primary" value="SEND">
                </div>           
            </form>       
        </div>
    </section>
    <!-- .contact-form -->
    
</div>